%h1.aside
  Super! Come on in! What's your family name?
=form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  -if params[:group_id]
    %h3 Welcome to your group, {Group.find(params[:group_id]).name}!
  -else
    =text_field_tag :group_name, nil, placeholder: "What's your group's name?", autofocus: true, class: 'form-control'
    .aside Now dear, just some basic details about you!
    .name
      =f.text_field :first_name, placeholder: "First Name", value: params[:first_name], class: 'form-control'
      =f.text_field :last_name, placeholder: "Last Name", value: params[:last_name], class: 'form-control'
    =f.email_field :email, placeholder: "email", value: params[:email], class: 'form-control'
    =f.hidden_field :role, value: 'caregiver'
    =f.hidden_field :admin, value: true
    .aside How about a password to keep this buttoned up?
    =f.password_field :password, class: 'form-control'
    =f.password_field :password_confirmation, placeholder: "Can you confirm that?", class: 'form-control'
    %br
    =f.submit "Sign-Up", class: 'btn btn-large btn-primary btn-block btn-sign-up'
    .aside
      .close-window
        Oops.