%h1  Hi!

%section
  .registration-section
    .container
      .row
        .col-xs-4.col-sm-2.col-md-3
        .col-xs-12.col-sm-8.col-md-6
          .sign-up-login
            ="Join #{@group.name}"
          .register-form
            =form_for(resource, :as => resource_name, :url => user_registration_path(resource_name)) do |f|
              = devise_error_messages!
              =f.text_field :first_name, placeholder: "What's your first name?", value: params[:first_name], class: 'form-control input-lg'
              =f.email_field :email, placeholder: "email", value: params[:email], class: 'form-control input-lg'
              =f.hidden_field :group_id, value: params[:group_id].to_i
              =f.password_field :password, placeholder: "Just add a password", autofocus: true, class: 'form-control input-lg'
              =f.submit "Sign Up", class: 'register-button'
        .col-xs-4.col-sm-2.col-md-3