- assignee_nil = task.assignee.nil?
- current_user_id = current_user.id
- task_date = task.task_date
- updates_count = task.updates.count
- likes_count = task.likes_count
- task_id = task.id
- diff = task_date.to_i - Time.now.to_i

.row.task-card{"data-task-id" => "#{task.id}"}
  .col-xs-2.col-md-2    
    -if assignee_nil && task.user_id == current_user_id
      %h4= render 'tasks/modal', task: task
    -elsif assignee_nil
      %h4.sign-up=link_to "Sign-Up", group_task_path(group, task_id, params: { task: {assignee_id: current_user_id}}), method: :patch, data: {confirm: "Are you sure?"}, remote: true    
    -else
      -assignee_picture_url = task.assignee.picture_url(:sq_thumb)
      -if assignee_picture_url
        =image_tag(assignee_picture_url, :class=>"group-picture")
      -else
        %h4="#{task.assignee.first_name}"
  .col-xs-8.col-md-8.summary
    %h3.card-title=task.title.truncate(25)
    %h4
      =task_date.strftime('%A')      
      ="(in #{distance_of_time_in_words(diff)})"
    -if updates_count > 0
      .comments-count
        =updates_count
      %i.fa.fa-comment.task-card-icon
    -if likes_count > 0
      .hearts-count
        =likes_count
      %i.fa.fa-heart.task-card-icon.heart-icon-color
  .col-xs-1.col-md-1
    .arrow-right
      =button_to "The Task", group_task_path(group, task_id), method: :get

