=form_for [@group, @task] do |task|
  %p
    =task.label :category
    %br
    =task.radio_button(:category, "getting places")
    =task.label(:getting_places, "getting places")
    =task.radio_button(:category, "around the home")
    =task.label(:around_home, "around the home")
    =task.radio_button(:category, "shopping")
    =task.label(:shopping, "shopping")
    =task.radio_button(:category, "meals")
    =task.label(:meals, "meals")
    =task.radio_button(:category, "personal care")
    =task.label(:personal_care, "peronal care")
    =task.radio_button(:category, "odds & ends")
    =task.label(:odds_and_ends, "odds & ends")
    =task.radio_button(:category, "visits & outings")
    =task.label(:visits_and_outings, "visits & outings")

  %p
    =task.label :title
    %br
    =task.text_field :title

  %p
    =task.label :information
    %br
    =task.text_area :information

  %p
    =task.label :start_time
    %br
    =task.time_field :start_time

  %p
    =task.label :duration
    %br
    =task.text_field :duration

  %p
    =task.label :task_date
    %br
    =task.date_field :task_date

  %p
    =task.submit