.no-tasks
  %h1 You currently don't have any tasks. Click "sign-up" to see available options.
  %h1
    .glyphicon.glyphicon-pencil
  %h1=link_to "Add New Task", new_group_task_path(current_user.group)