=link_to group_task_path(group, task.id) do
  .row.task-card
    .col-xs-9.col-md-10
      %h3=task.title
      -if task.task_date
        %h4=task.task_date.strftime('%A, %B %e, %Y')
    .col-xs-3.col-md-2
      .task-card-image-container
        %i.fa.fa-heart.task-card-icon
        %i.fa.fa-comment.task-card-icon
        =image_tag('right-arrow.gif', :class => 'card-right-arrow')