.task-card
  %h1.show-card-title=task.title
  -if task.updates.count > 0
    .comments-count
      =task.updates.count
    %i.fa.fa-comment.task-card-icon
  -if task.likes_count > 0
    .hearts-count
      =task.likes_count
    %i.fa.fa-heart.task-card-icon.heart-icon-color
  %h3.show-card-section-header
    Covered By
  -unless task.assignee.nil?
    =image_tag(task.assignee.picture_url(:sq_thumb))
  -else
    %p I can help.
  %h3.show-card-section-header
    Date and Time
  -if task.task_date
    %p
      =task.task_date.strftime('%l:%M %p') + ' on '
      =task.task_date.strftime('%A, %B %e, %Y')
    .time-from-now
      -diff = task.task_date.to_i - Time.now.to_i
      ="in #{distance_of_time_in_words(diff)}"
  -else
    %p No date or time information.
  %h3.show-card-section-header
    Details
  -if task.information.empty?
    %p No additional details.
  -else
    %p=task.information
  %h3.show-card-section-header
    Actions
  -if current_user.admin?
    =link_to edit_group_task_path(@group, task) do
      %span.awesome
        %span.glyphicon.glyphicon-edit
    =link_to group_task_path(@group, task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } do
      %span.awesome
        %span.glyphicon.glyphicon-trash
  -if current_user.id == task.assignee.id
    =link_to "DROP", group_task_path(@group, task, params: {assignee_id: nil}), method: :put, data: { confirm: 'Are you sure you want to drop this task?'}
