- task_date = task.task_date
- updates_count = task.updates.count
- likes_count = task.likes_count
- task_id = task.id

.row.task-card{"data-task-id" => "#{task.id}", :class => task.status}
  .col-xs-2.col-md-2
    =link_to mark_complete_group_task_path(group, task_id), method: :put, remote: true do
      %h4.task-box
        %i.fa.fa-check
  .col-xs-6.col-md-6.summary
    %h3.card-title
      =render 'icon', task: task
      =task.title.truncate(25)
    -if task_date
      %h4
        =task_date.strftime('%A')
        -diff = task_date.to_i - Time.now.to_i
        -if task_date > Time.now
          ="(in #{distance_of_time_in_words(diff)})"
        -else
          ="(#{distance_of_time_in_words(diff)} ago)"
    -if updates_count > 0
      .comments-count
        =updates_count
      %i.fa.fa-comment.task-card-icon
    -if likes_count > 0
      .hearts-count
        =likes_count
      %i.fa.fa-heart.task-card-icon.heart-icon-color
  .col-xs-4.col-md-4
    =link_to "Details", group_task_path(group, task_id), method: :get, class: "details"

