=link_to group_task_path(group, task.id) do
  .row.task-card
    .col-xs-11
      %h3.card-title=task.title
      -if task.updates.count > 0
        .comments-count
          =task.updates.count
        %i.fa.fa-comment.task-card-icon
      -if task.likes_count > 0
        .hearts-count
          =task.likes_count
        %i.fa.fa-heart.task-card-icon
      -if task.task_date
        %h4=task.task_date.strftime('%A, %B %e, %Y')
        %p
          -diff = task.task_date.to_i - Time.now.to_i
          ="in #{distance_of_time_in_words(diff)}"
    .col-xs-1
      =image_tag('right-arrow.gif', :class => 'card-right-arrow')