%h1 Upcoming Tasks

-if @tasks
  -@tasks.each do |task|
    .task
      .task_category
        =task.category
      .task_title
        =task.title
      .task_action
        =link_to "Edit", edit_group_task_path(@group, task.id)
        -if task.assignee_id.nil? && task.user_id == current_user.id
          Unassigned.
          =link_to "Send Invite", new_group_task_path(@group)

=link_to "Add New", new_group_task_path(@group)




