.row.task-index
  %h1.task-header
    Tasks
  =link_to "Add Task", new_group_task_path(@group), :class => "btn new-task-button", :method => 'get'

.row
  %ul.nav.nav-tabs
    %li
      %a.my-task-count{'data-toggle' => "tab", href: "#mytasks"}
        My Tasks
        ="(#{@my_tasks.count})"
    %li
      %a{'data-toggle' => "tab", href: "#alltasks"}
        All Tasks
        ="(#{@tasks.count})"
    %li
      %a.open-task-count{'data-toggle' => "tab", href: "#opentasks"}
        Open Tasks
        ="(#{@open_tasks.count})"

  .tab-content
    #mytasks.tab-pane.fade.in.active
      -unless @my_tasks.empty?
        -@my_tasks.each do |task|
          =render 'task', task: task, group: @group
      -else
        .no-tasks
          %h1 You currently don't have any tasks.
          %h1
            .glyphicon.glyphicon-pencil
          %h1=link_to "Add New Task", new_group_task_path(@group)

    #alltasks.tab-pane.fade
      -@tasks.each do |task|
        =render 'all_task', task: task, group: @group

    #opentasks.tab-pane.fade
      -unless @open_tasks.empty?
        -@open_tasks.each do |task|
          =render 'all_task', task: task, group: @group
      -else
        .no-tasks
          %h1 Your group currently doesn't have any open tasks.
          %h1
            .glyphicon.glyphicon-pencil
          %h1=link_to "Add New Task", new_group_task_path(@group)