.container
  .row.task-index-header
    %h1
      ="Tasks for The #{@group.name}"
    =link_to new_group_task_path(current_user.group) do
      .purple-new-task-button
        %h4 Add New Task
  .row
    %ul.nav.nav-tabs
      %li
        %a.my-task-count{'data-toggle' => "tab", href: "#mytasks"}
          My Tasks
          ="(#{@my_tasks.count})"
      %li
        %a{'data-toggle' => "tab", href: "#alltasks"}
          All Upcoming Tasks
          ="(#{@tasks.count})"
      %li
        %a.open-task-count{'data-toggle' => "tab", href: "#opentasks"}
          Open Tasks
          ="(#{@open_tasks.count})"

    .tab-content
      #mytasks.tab-pane.fade.in.active
        -unless @my_tasks.empty?
          -@my_tasks.sort_by(&:task_date).each do |task|
            =render 'task', task: task, group: @group
        -else
          =render 'tasks/no_tasks'

      #alltasks.tab-pane.fade
        -@tasks.sort_by(&:task_date).each do |task|
          =render 'all_task', task: task, group: @group

      #opentasks.tab-pane.fade
        -unless @open_tasks.empty?
          -@open_tasks.sort_by(&:task_date).each do |task|
            =render 'all_task', task: task, group: @group
        -else
          =render 'tasks/no_group_tasks'