.container
  .row
    %h1.task-header
      My Tasks
    -unless @my_tasks.nil?
      -@my_tasks.each do |task|
        =link_to group_task_path(@group, task.id) do
          .row.task-card
            .col-xs-9.col-md-10
              %h3=task.title
              %h4=task.task_date.strftime("%A, %B %e, %Y")
            .col-xs-3.col-md-2
              .task-card-image-container
                %i.fa.fa-heart.task-card-icon
                %i.fa.fa-comment.task-card-icon
                =image_tag('right-arrow.gif', :class => 'card-right-arrow')
    -else
      %h2 You don't have any tasks.  Sign Up!
  .row
    %h1.task-header
      Upcoming Group Tasks
    -@tasks.each do |task|
      =link_to group_task_path(@group, task.id) do
        .row.task-card
          .col-xs-2.col-md-2
            -if task.assignee == nil
              %h4=link_to "Sign-Up", group_task_path(@group, task.id, params: {assignee_id: current_user.id}), method: :put, data: {confirm: "Are you sure?"}, remote: true
            -else
              =image_tag(task.assignee.picture_url(:sq_medium), :class=>"group-picture")
              %h4="#{task.assignee.first_name}"
          .col-xs-8.col-md-8
            %h3=task.title
            %h4=task.task_date.strftime("%A, %B %e, %Y")
          .col-xs-2.col-md-2
            .task-card-image-container
              %i.fa.fa-heart.task-card-icon
              %i.fa.fa-comment.task-card-icon
              =image_tag('right-arrow.gif', :class => 'card-right-arrow')
      