%h1
  / can add glyphicons like so below:
  / %span{:class => "glyphicon glyphicon-saved"}
  Upcoming Tasks for #{@group_name}

-if @tasks.empty?
  ="Add New"
-else
  -@tasks.each do |task|
    .task
      .task_date
        / =task.task_date.strftime("%b") unless task_date.nil?
        / =task.task_date.strftime("%m/%d/%Y") unless task_date.nil?

      .task_category
        =task.category
      .task_title
        =task.title
      .task_action

        -if task.assignee_id.nil? && task.user_id == current_user.id
          Unassigned.

          = render 'tasks/modal'

        -else task.assignee_id.nil?
          I can do this!
        =link_to "Edit", edit_group_task_path(@group, task.id)
        -task.updates.each do |update|
          %p=update.comment
          %p=image_tag(update.picture)
          %p=@commenter_name
          %p=image_tag(@commenter_picture)



  =link_to "Add New", new_group_update_path(@group)





