.container
  .row
    %h1.task-header
      My Tasks
    -unless @my_tasks.nil?
      -@my_tasks.each do |task|
        .row.task-card
          .col-xs-9.col-md-9
            %h3=task.title
            %h4=task.task_date
          .col-xs-1.col-md-1
            %i.fa.fa-heart.task-card-icon
          .col-xs-1.col-md-1
            %i.fa.fa-comment.task-card-icon
          .col-xs-1.col-md-1
            =image_tag('right-arrow.gif', :class => 'card-right-arrow')
    -else
      %h2 You don't have any tasks.  Sign Up!
  .row
    %h1.task-header
      Upcoming Group Tasks
    -@tasks.each do |task|
      .row.task-card
        .col-xs-2.col-md-2
        -if task.assignee == nil
          "Sign Up"
        -else
          =image_tag(task.assignee.picture_url(:sq_medium), :class=>"group-picture")
          / ="#{task.assignee.first_name}"
        .col-xs-7.col-md-7
          %h3=task.title
          %h4=task.task_date
        .col-xs-1.col-md-1
          %i.fa.fa-heart
        .col-xs-1.col-md-1
          %i.fa.fa-comment
        .col-xs-1.col-md-1
          =image_tag('right-arrow.gif')
