%h1 Upcoming Tasks

-if @tasks.empty?
  =link_to "Add New", new_group_task(@group)

-else
  -@tasks.each do |task|
    .task
      .task_category
        =task.category
      .task_title
        =task.title
      .task_action
        =link_to "Edit", edit_group_task_path(@group, task.id)
        -if task.assignee_id.nil? && task.user_id == current_user.id
          Unassigned.

          = render 'tasks/modal'

        -else task.assignee_id.nil?
          I can do this!

  =link_to "Add New", new_group_task_path(@group)

  add a method to the controller -
  the current_session (claim method, current user_id to the task id)
  response to
  link_to remote: true
  there is a rails cast on this.
  136
  might make even more sense.

  advantage of not creating a user stub- don't worry about people switching email accounts.
  devise helpers - don't require shit...  if assign/ask a group for the user.  devise will let you do this.

  url




