
%h1
  / can add glyphicons like so below:
  / %span{:class => "glyphicon glyphicon-saved"}
  Upcoming Tasks

%p Hi, #{@commenter_name}.  These are tasks and updates for #{@group_name}.

-if @tasks
  -@tasks.each do |task|
    .row
      .col-md-2
      %ul.col-md-8.col-xs-12.task
        / %li=task.task_date.strftime("%A, %m/%d/%Y")
        %li=task.category
        %li=task.title
        -if task.assignee_id.nil? && task.user_id == current_user.id

          = render 'tasks/modal', task: task

        -else task.assignee_id.nil?
          %li=link_to "Sign-Up", group_task_path(@group, task.id, params: {assignee_id: current_user.id}), method: :put, data: {confirm: "Are you sure?"}, remote: true

        -if current_user == task.user
          %li=link_to "Edit", edit_group_task_path(@group, task.id)
      .col-md-2
    .updates{"data-id" => "#{task.id}"}
      -task.ordered_updates.each do |update|
        =render "updates/update", update: update
    .row
      .col-md-3
      .col-md-6
        =render "updates/form", update: Update.new, task: task
      .col-md-3

=link_to "Add New Task", new_group_task_path(@group)

