.container
  .row
    .cols-md-12
      =form_for [@group, @task] do |task|
        =task.text_field :title, placeholder: "Type in the title of your task here.", :class => 'input-lg'

        %ul.nav.nav-tabs
          %li
            %a{'data-toggle' => "tab", href: "#sectionA"}
              %span.glyphicon.glyphicon-list
          %li
            %a{'data-toggle' => "tab", href: "#sectionB"}
              %span.glyphicon.glyphicon-time
          %li
            %a{'data-toggle' => "tab", href: "#sectionC"}
              %span.glyphicon.glyphicon-tag
        .tab-content
          #sectionA.tab-pane.fade.in.active
            %p
              =task.text_area :information, placeholder: "Add any details or preferences for this task here.", rows: 8, class: 'form-control'
          #sectionB.tab-pane.fade
            %h3 When does it need to be done?
            %p=task.date_field :task_date, class: 'form-control'
            %h3 Does it start at a certain time?
            %p=task.time_field :start_time, class: 'form-control'
            %h3 How long will it take?
            %p=task.select :duration, options_for_select([['15 minutes', 15], ['30 minutes', 30], ['45 minutes', 45], ['1 hour', 60], ['75 minutes', 75], ['an hour and a half', 90], ['2 hours', 120]]), {include_blank: true}, {class: 'form-control'}

          #sectionC.tab-pane.fade
            %h3 What type of task is this?
            %p (placeholder for tom's work on this matter)
        =task.submit :class => "btn btn-primary"
