:javascript
  var ctx = document.getElementById("barChart").getContext("2d");

  var data = {
    labels : ["getting places","around the home","shopping","meals", "personal care", "odds & ends", "visits & outings", "other"],
    datasets : [
      {
        fillColor : "rgba(141,48,57,0.5)",
        strokeColor : "rgba(64,9,15,1)",
        pointColor : "rgba(64,9,15,1)",
        pointStrokeColor : "rgba(64,9,15,1)",
        data: #{@categories_per_month_array}
      }
    ]
  }

  var options = {
  //Options for displaying chart data, see http://www.chartjs.org/docs/ for more info
  scaleOverride: true,
  scaleSteps: #{@categories_per_month_array.max},
  scaleStepWidth: Math.ceil(#{@categories_per_month_array.max} / #{@categories_per_month_array.max}),
  scaleStartValue: 0
  }

  new Chart(ctx).Bar(data,options);