:javascript
  var ctx = document.getElementById("myChart").getContext("2d");

  var data = {
    labels : ["Week 1","Week 2","Week 3","Week 4","Week 5","Week 6","Week 7"],
    datasets : [
      {
        fillColor : "rgba(141,48,57,0.5)",
        strokeColor : "rgba(64,9,15,1)",
        pointColor : "rgba(64,9,15,1)",
        pointStrokeColor : "rgba(64,9,15,1)",
        data: [65,59,90,81,56,55,40]
      }
    ]
  }

  var options = {
  onAnimationComplete : null
  }

  new Chart(ctx).Line(data,options);;