:javascript
  var ctx = document.getElementById("lineChart").getContext("2d");

  var data = {
    labels : ["4 Weeks Ago","3 Weeks Ago","2 Weeks Ago","Last Week"],
    datasets : [
      {
        fillColor : "rgba(141,48,57,0.5)",
        strokeColor : "rgba(64,9,15,1)",
        pointColor : "rgba(64,9,15,1)",
        pointStrokeColor : "rgba(64,9,15,1)",
        data: #{@counts_arrays.reverse}
      }
    ]
  }

  var options = {
  //Options for displaying chart data, see http://www.chartjs.org/docs/ for more info
  scaleOverride: true,
  scaleSteps: #{@counts_arrays.max},
  scaleStepWidth: Math.ceil(#{@counts_arrays.max} / #{@counts_arrays.max}),
  scaleStartValue: 0

  }

  new Chart(ctx).Line(data,options);