.container
  .row
    %h1 Edit your Group Name
    .col-xs-6
      =render 'groups/form'
    .col-xs-6
      =render 'setgrouppic'
    .col-xs-6
      =link_to 'Return to your group page', :back, style: "color: white;"
