.container#conference-center
  .row
    .task-index-header
      %h1.application-section-header
        Conference Center
      =link_to '#invite-modal', 'data-toggle' => 'modal' do
        %h4.add-new Invite New Teammate

    / %h4.add-new
    /   %a{'data-toggle' => 'modal', 'data-target' => '#myModal'}
    /     Invite New Teammate
  .row
    .col-md-8.col-xs-12
      .my-inner-container
        .card
          .row
            .col-xs-6
              .section-title
                Thoughts on caring for #{@group.name} -
            .col-xs-6
              =link_to '#' do
                %h5.message-new New Message
          .row#conf-message-form
            .col-xs-12
              =form_for [@group, @message] do |f|
                =f.text_field :message_text, placeholder: "Anything to discuss, #{current_user.first_name}?", class: 'form-control input-lg conf-message'

                =f.file_field :photo, value: "Add picture update"
                =f.submit "Post It", class: "submit-message"
                %a.fileSelect{href: "#"}
                  %i.fa.fa-camera.fa-3x.choose-photo

                %input.message_photo{accept: "image/*", onchange: "handleFiles(this)", style: "display:none", type: "file", name: "message[photo]"}

                .photo-preview
                =f.hidden_field(:group_id, value: @group.id)
            %hr

          -@messages.each do |message|
            .row#message-board
              .row
                .col-xs-2#message-user
                  =@users.find_by_id(message.user_id).first_name 
                .col-xs-8#message-text
                  =message.message_text
                .col-xs-2#message-date
                  =message.updated_at.strftime("%b %d, '%y")
              .row
                .col-xs-10.col-xs-offset-2#message-photo
                  =image_tag(message.photo)
              %hr



          / .section-contents.overflow-hidden
          /   .col-xs-4.col-md-4.center
          /     .number-summary-stats
          /       =@counts_arrays.first
          /     %p.number-summary Care Tasks Completed
          /   .col-xs-4.col-md-4.center
          /     .number-summary-stats
          /       =@active_users
          /     %p.number-summary Active CareWellians
          /   .col-xs-4.col-md-4.center
          /     .number-summary-stats.green
          /       =@duration_week
          /     %p.number-summary Hours Caring
        / .card.clear
        /   .section-title
        /     %ul.nav.nav-pills
        /       %li.active
        /         %a{href: "#assigned_per_week", 'data-toggle' => "pill"}
        /           Tasks Per Week
        /       %li
        /         %a{href: "#average_time_per_task", 'data-toggle' => "pill"}
        /           Average Time
        /       %li
        /         %a{href: "#tasks_by_category", 'data-toggle' => "pill"}
        /           Tasks by Category
        /   .section-contents
        /     .tab-content
        /       .tab-pane.active{id: "assigned_per_week"}
        /         .greentext.text-center
        /           %canvas#lineChart{height: "400", width: "400"}
        /       .tab-pane{id: "average_time_per_task"}
        /         .greentext.text-center
        /           %canvas#durationChart{height: "400", width: "400"}
        /       .tab-pane{id: "tasks_by_category"}
        /         .greentext.text-center
        /           %canvas#barChart{height: "400", width: "400"}

    .col-md-4.col-xs-12
      .card
        .section-title
          Our Team
        /***commenting out group photo

        / -if @group.picture_url == nil
        /   %img{src: "http://placehold.it/400x250/f2f2f2/ef5e5a&text=Add+Your+Group+Photo!", class: 'group-photo'}
        / -else
        /   =image_tag(@group.picture_url(:group), :class=>'group-photo')


        /*** commenting out group photo addition section

        / .photo-form
        /   = form_for(@group) do |f|
        /     - if @group.errors.any?
        /       #error_explanation
        /         %h2
        /           = pluralize(@group.errors.count, "error")
        /           prohibited this picture from being saved:
        /         %ul
        /           - @group.errors.full_messages.each do |msg|
        /             %li= msg
        /     .field
        /       = f.file_field :picture, :required => true
        /     .actions
        /       -if @group.picture_url == nil
        /         = f.submit "Add Photo", class: "sign-up"
        /       -else
        /         = f.submit "Change Photo", class: "sign-up"
        /       %i.fa.fa-camera.fa-3x.choose-group-photo
        -@users.each do |user|
          .row.team-card
            .col-md-2
              .squarelinks
                =link_to group_user_path(@group, user.id) do
                  -if user.picture_url == nil
                    =image_tag("mickey-mouse.jpg", class: "group-user-photo")
                  -else
                    =image_tag(user.picture_url(:sq_medium), :class => "group-picture")
            .col-md-10
              %span.bold=user.first_name
              %br
              Prefers:
              =user.contact_preference
              %br
              =user.notes



/ modal for inviting a new member to the group
=render 'invite_modal'


/ = javascript_include_tag "Chart.js"

/ =render 'tasks/modal'
/ =render "linechart"
/ =render "barchart"
/ =render "durationchart"