.row
  .col-sm-6
  .col-sm-6
    %h1="The #{@group.name}"
    =link_to 'edit group', edit_group_path
    %h3="#{@group_count} Members"
    .group-member
      -@users.each do |user|
        =image_tag(user.picture)
        =user.first_name