=form_for [@group, @task, @update], remote: true do |f|

    =f.text_area :comment
    =f.label :picture, "Add picture"
    =f.file_field :picture
    =f.hidden_field(:task_id, value: task.id)
    =f.submit "Add Update"