=form_for [@update] do |update|
  %p
    =update.label :comment
    %br
    =update.text_field :comment
  %p
    =update.label :picture
    %br
    =update.text_field :picture
  %p
    =update.label :task_id
    %br
    =update.text_field :task_id
  %p
    =update.submit