.update{"data-id" => update.id}
  .commenter-info.col-xs-1
    -if update.user.picture != nil
      =image_tag(update.user.picture_url(:sq_thumb))
    -else
      =update.user.first_name
  .comment.col-xs-8
    .comment-text
      =update.comment
      %br
      -if current_user == update.user
        =link_to "delete", group_task_update_path(@group, update.task, update), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete_update"
      .comment-time
        =update.created_at.strftime("at %I:%M%p")
  .col-xs-3
    =raw "<span id='vote#{update.id}'>#{update.votes.count}</span>"
    %span.glyphicon.glyphicon-heart
    -if current_user.voted_for? update
      = button_to "Liked", unvote_group_task_update_path(@group, update.task, update), method: "post", class: 'btn btn-primary', remote: true
    -else
      = button_to "Like", vote_group_task_update_path(@group, update.task, update), method: "post", class: 'btn btn-primary', remote: true
