- update_id = update.id
- user = update.user
- task = update.task
- diff = update.created_at.to_i - Time.now.to_i

.update{"data-id" => update_id}
  .row.photo-comment-header
    .col-md-2.col-xs-2
      -if user.picture_url
        =image_tag(user.picture_url(:sq_medium))
      -else
        =user.first_name
    .col-md-8.col-xs-8
      .comment-text
        =update.comment
    .col-md-2.col-xs-2
      .time-diffy
        ="#{distance_of_time_in_words(diff)}"
  -if update.picture
    .col-md-12.col-xs-12.image-update
      %img{src: update.picture_url(:wide)}
  .col-xs-12.col-md-12


