.row
  .col-md-4
  .commenter-info.col-md-1
    =image_tag(update.user.picture_url(:sq_thumb))
    =update.user.first_name
  .individual-update.col-md-3
    %span=update.comment
    %div=image_tag(update.picture_url(:medium))
    =update.created_at.strftime("at %I:%M%p")
    = raw "Likes: <span id='vote#{update.id}'>#{update.votes.count}</span> "
    = button_to "Like", vote_group_task_update_path(@group, update.task, update), method: "post", class: 'btn btn-primary likebtn', remote: true
  .col-md-2
    -if current_user == update.user
      =link_to "delete", group_task_update_path(@group, update.task, update), method: :delete, data: { confirm: 'Are you sure?' }