.row
  .col-md-4
  .commenter-info.col-md-1
    =image_tag(update.user.picture)
    =update.user.first_name
  .individual-update.col-md-3
    %span=update.comment
    %div=image_tag(update.picture)
    =update.created_at.strftime("at %I:%M%p")
  .col-md-1= "Likes: #{update.votes.size}"
  .col-md-2
    =button_to "Like"