- update_id = update.id
- user = update.user
- task = update.task
- diff = update.created_at.to_i - Time.now.to_i

.row.update{"data-id" => update_id}
  .row.photo-comment-header
    .col-md-2.col-xs-2
      -if user.picture 
        =image_tag(user.picture_url(:sq_thumb))
      -else
        =user.first_name
    .col-md-10.col-xs-10
      .comment-text
        =update.comment
        %br
        -if current_user == user
          =link_to "delete", group_task_update_path(@group, task, update), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete_update"
  -if update.picture
    .col-md-12.col-xs-12.image-update
      %img{src: update.picture_url(:wide)}
  .col-xs-12.col-md-12
    .time-diffy
      ="#{distance_of_time_in_words(diff)} ago"
    .like-it-now
      =link_to vote_group_task_update_path(@group, task, update), method: "post",  remote: true, style: "text-decoration: none;" do
        .hearts-count2=raw "<span id='vote#{update_id}'>#{update.votes.count}</span>"
        -if current_user.voted_for? update
          %span.glyphicon.glyphicon-heart.active-glyphicon-heart.task-card-icon
        -else
          %span.glyphicon.glyphicon-heart


