%h1 All Updates
%p These are all of the updates

-@updates.each do |update|
  .update
    .update-comment
      =update.comment
    .update-photo
      =update.picture
    .commenter-photo
      %p TO-DO
    .commenter-name
      %p TO-DO