%h1
  ="Hi, #{@user}!"
="#{task.assignee.first_name} signed up to help. Please let us know if you have any questions."
To login and see updates, check out:
=link_to "Your CareWell Home Page", group_tasks_path(@group)