%h1
  ="Hi, #{@user.first_name}!"
="This is a reminder from CareWell that your task: #{@task.title} is coming up! #{link_to "Here", group_tasks_path(@task.group)} are the details. For questions, connect with #{@task.user.first_name}."