/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

// * {
//   border: 1px solid blue;
// }
$dark-green: #308d45;
$mint-green: #60D97B;

@import "bootstrap";
@import "font-awesome";

@font-face {
    font-family: 'Lato';
    src: url(font-path('lato-light-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('lato-light-webfont.woff')) format('woff'),
         url(font-path('lato-light-webfont.ttf'))  format('truetype'),
         url(font-path('lato-light-webfont.svg') + "Lato") format('svg');
}

body {
  background-color: #faf2e6;
}

// .navbar {
//   background-color: #faf2e6;
//   border-bottom-color: #faf2e6;
// }

// a {
//   text-decoration: none
// }

@media all and (max-width: 480px) {
        body {
          font-family: 'Lato', sans-serif;
        }

        h1 {
          font-size: 17px;
          text-align: center;
          margin-bottom: 0px;
        }

        h3 {
          font-size: 15px;
        }

        .main-welcome {
          text-align: center;
          img {
            padding-top: 1.3em;
            text-align: center;
          }
        }
        .cw-button {
          width: 43%;
          float: left;
          text-align: center;
          &:nth-child(2){
            float:right;
          }
        }

        .group-sign-up {
        background: $mint-green;
        padding: 10px;
         input {
           width: 100%;
         }
        }
    }

.cw-button {
  padding: 10px 5px;
  margin: 5px;
  // border: 1px solid $dark-green;
  background: $mint-green;
  display: inline-block;
  color: white;
  &:hover {
    color: #ccc;
    text-decoration: none;
  }
}

.navbar-inverse .navbar-nav > li > a {
  padding-top: 15px;
  color: white;
}

.navbar-toggle {
margin-top: 8px;
}

.btn {
  border-radius: 0;
}

input.btn.btn-large.btn-primary {
  background-color: $mint-green;
  border: 0;
}

.navbar {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  font-size: 1.25em;
  border: none;
    a {
      padding-top: 25px;
      &:link {
        color: white;
      }
      &:visited {
        color: white;
      }
      &:hover {
        color: #00b2d2;
        text-decoration: none;
      }
      &:active {
        color: white;
      }
    }
}

.navbar-inner {
  background-color: #383838;
  line-height: 1.25em;
}

li.navbar-nav{
  text-align: right;
}
li.navbar-link {
  text-align: center;
}

// this is hacky but used to compensate for interior padding+margin
@media all and (max-width: 767px) {
        .navbar-nav {
          width: 100%;
          }
        li.navbar-link.last {
          margin-right: 0px;
          }  
  }


@media all and (min-width: 768px) {
        li.navbar-link.last {
          margin-right: -30px;
        }

}
.navbar-inverse {
  background: #383838;
}

.logo {
  margin-top: 8px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  // padding: 0 15px;
  .tan {
    background: #faf2e6;
    padding-bottom: 2em;
  }
  .white {
    padding-bottom: 2em;
    background: #f7f5f2;
    border-bottom: 20px solid #383838;
  }
  .green {
    // padding-bottom: 2em;
    background: #00a049;
  }
}