// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-photo {
  margin-top: 15px;
  border: 5px solid white;
  border-radius: 3px;
}

.group-user-photo {
  border: 3px solid white;
  border-radius: 3px;
  margin-right: 5px;
}

.graph-background {
  background-color: white;
  height: 800px;
  border-radius: 3px;
}