// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-photo {
  margin-top: 15px;
  border: 5px solid white;
  border-radius: 3px;
}

.group-user-photo {
  border: 3px solid white;
  border-radius: 3px;
  margin-right: 5px;
}

.graph-background {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
}

.group-member-name {
  display: block;
}
//Eric's added styles for group show page

input.update-group-button {
  border-radius: 5px;
  background: #ab53c5;
  border: 0;
  padding: 10px 30px;
  color: white;
}

.group-show {

  .family-members {
    margin-bottom: 35px;
  }

  h1 {
    font-size: 40px;
  }
  h1, h2 {
    color: white;
  }

  .number-summary-stats {
    width: 200px;
    display: block;
    border-radius: 5px;
    border: 5px solid white;
    border-color: white;
    color: white;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 10em;
    .green {
      background: #53bc9c;
    }
  }
  p.number-summary
      {
      font-family: 'Lato';
      position: relative;
      left: 15px;
      top: -32px;
      color: white;
    }

  .edit-group {
    color: white;
    a{
      color: white;
      text-decoration: none;
    }

  }

  #show-group-page {
    a {
      color: white;
  }
}

  h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: -7px;
    margin-left: 5px;
  }
  h3 {
    color: #293f54;
  }
}

.whitetext {
  color: white;
  h3{
    color: #f0ad4e;
  }
}

.greentext {
  h3{
    color: #ff615b;
  }
}

.modal-title, .modal-body{
  font-family: "Lato", sans-serif;
  size: 1em;
  color: #ff615b;
}
