.navbar {

  .active {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: white !important;
  }
  //useful potential triangle css for downward pointing arrow
  // .arrow-down {
  //   width: 0;
  //   height: 0;
  //   border-left: 20px solid transparent;
  //   border-right: 20px solid transparent;

  //   border-top: 20px solid #f00;
  // }

}