.navbar {
  font-weight: 700;

  .active {
    background-color: #05C29B;
    border-radius: 5px;
    color: white;
  }

  li.navbar-link {
    a {
    border-radius: 5px;
  }
  }
  .category-shopping {
    //placeholder
  }

}