// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.registration_title{
  font-size: 30pt;
  color: white;
  font-family: Lato;
}