// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-register-form {
  div{
    display: inline-block;
  }

  h2, h3 {
    font-family: 'Lato', sans-serif;
  font-weight: 400;
}
  background: #f0e451;
  border-radius: 5px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border: 0.5px solid #f4e97a;
  padding: 15px;
  box-shadow: 0px 0px 5px #293f54;
  input {
    margin-bottom: 10px;
  }
  #user_phone {
    width: 80%;
  }
  #user_first_name {
    display: inline-block;
    width: 122px;
  }
  #user_last_name {
    display: inline-block;
    width: 160px;
    margin-left: 9px;
  }
  input#user_password {
    display: inline;
  }
  input#user_password_confirmation {
    display: inline;
    margin-left: 9px;
  }
.registration_title{
  font-size: 30pt;
  color: white;
  font-family: Lato;
}
}