// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgc: #ded8ce;

.task {
  margin: 30px;
  background-color: $bgc;
  border-left: 10px solid #aee239;
  // border-top-left-radius: 1.5em;
  // border-top-right-radius: 1.5em;
  padding: 10px;

  li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  }
}

.update {
  div {
  .picture, .comment, .name, .info {
    display: inline-block;
    }
  }
}

.action {
  text-align: right;
}

.task_category, .task_title, .task_action {
  display: inline-block;
}

.task_category {
  font-weight: bold;
}
.task_title {
  padding-left: 20px;
}

.name_form {
  display: inline-block;
}

.commenter-info {
  font-family: "Lato", sans-serif;
  font-size: 1.75em;
}

.individual-update {
  font-family: "Lato", sans-serif;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 1.75em;
  padding: 20px;
  li {
    list-style: none;
    display: inline-block;
  }
}

.new-task-style{
  background-color: white;
  padding: 20px;
  input[type='radio'] {
    margin-left: 15px;
  }
}

.new-task {
  background-color: white;
  padding: 40px;
  .time {
    display: hidden;
  }

}

.form-icon {
  font-size: 4em;
  margin-top: 25px;
}

.task-form-icon-wrapper {
  text-align: center;
  height: 100%
}

#task_information {
  width: 100%;
}

.task-form-radio-button {
  display: none;
}

.selected-category {
  background-color: #00aac9;
  color: white !important;
}

// TASK INDEX

.task-header {
  color: #40090f;
  font-size: 4em;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -20px;
}

.task-card {
  width: 100%;
  height: 150px; 
  background-color: white;
  border-radius: 3px;
  padding: 15px;
  margin-top:25px;
  text-decoration: none;
  h3 {
    font-family: "Lato", sans-serif;
    font-size: 3em;
  }
  h4 {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    color: #cacaca;
  }
  .task-card-icon {
    font-size: 3em;
    color: #cacaca;
    margin-top: 35px;
    margin-left: 25px;
    // margin-right: 10px;
  }
  .card-right-arrow {
    margin-left: 30px;
  }
}


