// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-green: #308d45;
$mint-green: #60D97B;
$bgc: #ded8ce;

//all styles

//reset

* {
  div, .col-xs-2, .col-md-2, .col-xs-1, .col-xs-9, .col-md-9, .col-xs-12, .col-md-12, .new-task {
  margin: 0;
  padding: 0;
  }
}

//styles

//my task list on new task page
.my-task-list {
  background: white;
  padding: 20px;
}

.add-new {
  float: right;
  display: inline-block;
  margin-top: 0;
}

//application-section-header

.application-section-header {
  color: #666;
}

.nav-pills {
  display: inline-block;
}

.task-card {
  background: white;

  .task-box {
    display: inline-block;
    text-align: center;
    margin: 25px;
    font-size: 15px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #53bc9c;

     a {
      text-decoration: none;
      color: transparent;
    }

     i {
       font-size: 27px;
       display: inline-block;
       margin: 0 auto;
       line-height: 50px;
       color: #53bc9c;
       opacity: 0;
       transition-property: opacity;
        transition-duration: 0.3s;
        &:hover {
          opacity: 0.5;
        }
     }
   }

 &.complete {
   .card-title {
     text-decoration: line-through;
   }
   .task-box {
    i {
    opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  &.incomplete {
    .card-title {
      text-decoration: none;
    }
    .task-box {
      i {
        opacity: 0;
        &:hover {
        opacity: 0.5;
        }
      }

    }
  }
}

// calendar styles
td {
  height: 60px;
  width: 60px;
  border: 1px solid gray;
  color: #CCC;
}

.notmonth, .day, .weekend, .today, .future {

}

.today, .day, .future, .weekend {
  vertical-align: top;
  text-align: center;
  ul {
    padding: 0;
  }
}

li.open {
  list-style-type: none;
  i {
  color: orange;
  font-size: 2.5rem;
  }
}
li.covered {
  list-style-type: none;
  i {
  color: green;
  font-size: 2.5rem;
  }
}


  .task {
    margin: 30px;
    background-color: $bgc;
    border-left: 10px solid #aee239;
    // border-top-left-radius: 1.5em;
    // border-top-right-radius: 1.5em;
    padding: 10px;

    li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    }
  }

  .updates {
    margin-top: 25px;
    box-shadow: 0px 0px 3px #888888;
  }

  .icon {
    margin-right: 10px;
    color: #ef5e5a;
  }

  input[type='text'] {
    outline: none;
  }

  .update {
    background: #f2f2f2;
    div {
    .picture, .comment, .name, .info {
      display: inline-block;
      }
    }
  }

  select {
  #task_start_time, #start_time_hour, #start_time_minute {
    .form-control {
    display: inline-block;
      }
    }
  }

  // .arrow-right {
  //   width: 0;
  //   height: 0;
  //   border-top: 20px solid transparent;
  //   border-bottom: 20px solid transparent;
  //   border-left: 20px solid #dddddd;
  //   float: right;
  //   margin-top: 30px;
  //   position: relative;
  //   left: 40px;
  // }

  .sign-up {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 15px;
    background: #f0ad4e;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .action {
    text-align: right;
  }

  .task_category, .task_title, .task_action {
    display: inline-block;
  }

  .task_category {
    font-weight: bold;
  }
  .task_title {
    padding-left: 20px;
  }

  .name_form {
    display: inline-block;
  }
  .new-task {
    margin-top: 40px;
    box-shadow: 0px 0px 3px #888888;
  }

  .new-task-style{
    background-color: white;
    padding: 20px;
    input[type='radio'] {
      margin-left: 15px;
    }
  }

  .first-time-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background: white;
    h1 {
      color: black;
    }
  }

  .new-task {
    background-color: white;
    padding: 30px;
  }

  #opentasks .random-photo {
    width: 25%;
    display: inline-block;
    margin: 30px 35%;
  }

  .form-icon {
    font-size: 4em;
    margin-top: 10px;
  }

  .task-form-icon-wrapper {
    text-align: center;
    float: left;
    width: 130px;
    height: 130px;
    overflow: hidden;
    color: #a6a6a6;
    padding: 15px;


    &:hover {
      background: #f0ad4e;
      color: white;
    }
  }

  .task-form-radio-button {
    display: none;
  }

  .selected-category {
    background-color: #53bc9c;
    color: white !important;
  }

.button_to input {
  background: transparent;
  border: 0;
  background: orange;
  padding: 10px 20px;
  color: white;
  border: 1px solid #F7931E;
  font-size: 16px;
  margin: 25px;
  float: right;
}

.task-card {
  padding: 20px;
  text-decoration: none;
  margin-top: -1px;
  border: 1px solid rgb(214,210,210);
  &:hover {
    box-shadow: 0px 0px 3px #888888;
  }
  h3 {
    font-family: "Lato", sans-serif;
    font-size: 1.8em;
    margin-top: 5px;
    }
    h4 {
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    color: #cacaca;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.task-card-image-container {
  margin-top: 35px;
}

.task-card-icon {
  font-size: 2.5em;
  color: #6fcccf;
  text-align: right;
  margin-left: 5px;
}

.heart-icon-color {
  color: #c24952;
}

.card-right-arrow {
  padding: 50px;
  float: right;
}

.no-tasks .glyphicon {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

  .no-tasks h1 {
    margin-top: 0px;
    padding: 10px;
  }

  .no-tasks > h1 {
    div{text-align: center;}
  }

  .input-lg {
    border-radius: 4px;
    padding-left: 10px;
    width: 100%;
  }

  .pick-icon {
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
  }

//style the jquery autocomplete widget
  .ui-menu {
    background:white;
    border: 1px solid black;
    .ui-menu-item {
      text-decoration: none;
      padding: 5px 0;
      list-style-type: none;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

//style the categories picker
.categories {
  display: none;
  position: fixed;
  left: 0px;
  top: 50px;
  background: white;
  }

#category {
  display: none;
  }

.time-details {
  h3 {
    margin-top: 0px;
  }
    padding-left: 0;
    padding-right: 0;
  }

  .start-time-link {
    margin-top: 15px;
    color: blue;
    text-decoration: underline;
  }

  .start-time {
    display: none;
  }

  #task_location {
    margin-top: 0;
  }

  .pick-categories {
    font-size: 25px;
    position: relative;
    float: right;
    top: -36px;
    right: 10px;
  }

  .pick-calendar-date {
    font-size: 25px;
  }

  .general-due-date {
    margin-top: 5px;
    color: blue;
    text-decoration: underline;
  }
  .calendar {
    display: none;
  }

  .btn.btn-primary.create_task {
    background: $mint-green;
    padding: 20px;
    width: 100px;
    font-size: 2em;
    border: 0px;
  }

  ul.nav.nav-tabs {
    background: #293f54;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    li {
      width: 33%;
      text-align: center;
      .active {
        color: #293f54 !important;
        background-color: white;
        background: #53bc9c;
      }
      a {
        font-size: 1.45em;
        // margin: 5px;
        // padding: 5px;
        // border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-family: "Lato", sans-serif;

        .active {
          color: #293f54;
        }

        &:hover {
          background: #53bc9c;
          color: white;
        }
      }
    }
  }

  .tab-content {
    background: white;
  }

  .new-task-button {
    // height: 75px;
    // width: 225px;
    background-color: #f0ad4e;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
    float: left;
    font-size: 1.3em;
    margin: 15px 15px 20px 0;
  }
  .new-task-button:hover {
    background-color: #f0ad4e;
    color: white;
      }

  .comments-count {
    position: relative;
    display: inline-block;
    left: 30px;
    top: -7px;
    color: white;
  }

  .task-details{
    font-family: 'Lato'
  }


  .hearts-count {
    position: relative;
    display: inline-block;
    left: 30px;
    top: -7px;
    color: white;
  }

  h3.card-title {
    display: inline-block;
    color: #ef5e5a;
  }

//set up task show page

h1.show-card-title {
  color: #ef5e5a;
  font-size: 2.7em;
  margin-top: 0;
  display: inline-block;
}

h3.show-card-section-header {
  font-size: 2em;
}

.show-card-section-header {
  font-size: 0.8em;
  color: #9d9d9d;
  font-weight: 400;
}

.time-from-now {
font-style: italic;
color: #a1a1a1;
position: relative;
top: -10px;

}

.row.link a {
  text-decoration: none;
}

.link {
  display: inline-block;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid white;
  display: inline-block;
  position:relative;
  top: 48px;
  left: 17px;
}

.back-words {
  color: white;
  margin-left: 40px;
}

.inline {
  display: inline-block;
}

.float-left {
  float: left;
}

.awesome {
  display: inline-block;
  font-size: 21px;
  padding-left: 14px;
}

//set up for mobile
@media all and (max-width: 480px) {

  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  h1.show-card-title {
    font-size: 1.5em;
    margin-top: 0;
    display: inline-block;
  }


  h3.show-card-section-header {
    font-size: 0.8em !important;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .row.post-update {
    img {
      display: none;
    }
  }

  .time-from-now {
  font-style: italic;
  color: #a1a1a1;
  position: relative;
  top: -10px;

  }

  .summary {
    margin-left: 12px;
  }

  .task-index {
    border-bottom: 1px solid gray;
  }

  h1.task-header {
    font-size: 1em;
    color: gray;
    display: inline-block;
    float: left;
    padding-bottom: 10px;
    margin: 17px 15px 13px 19px;
    a {
      color: gray;
      text-decoration: none;
    }
  }

  .task-card {
    // height: 150px;
    background-color: white;
    // border-radius: 3px;
    padding: 20px;
    // I know the line below is weird but the design gets messed up if moved
    margin-left: 0px;
    text-decoration: none;
    border-bottom: 1px solid rgb(214,210,210);
    h3 {
      font-family: "Lato", sans-serif;
      font-size: 1.2em;
      margin-top: 5px;
    }
    h4 {
      font-family: "Lato", sans-serif;
      font-size: 0.9em;
      color: #cacaca;
      margin-top: -5px;
    }
    .sign-up {
      display: inline-block;
      text-align: center;
      padding: 10px 10px;
      margin: 0 auto;
      font-size: 15px;
      background: #f0ad4e;
      a {
        text-decoration: none;
        color: white;
      }
    }

    .complete {
      display: inline-block;
      text-align: center;
      padding: 10px 10px;
      margin: 0 auto;
      font-size: 15px;
      background: #53bc9c;
      border-radius: 4px;
      a {
        text-decoration: none;
        color: white;
      }
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #dddddd;
        float: right;
        position: static;
        margin-top: 14px;
        margin-right: 0;
      }

    .group-picture {
      display: block;
      margin: 0 auto;
    }
    .card-right-arrow {
      position: static;
      padding: 10px;
    }
  }

  .task-card-icon {
    font-size: 1.5em;
  }

  .form-icon {
    font-size: 2em;
    margin-top: 10px;
  }

  .comments-count {
    position: static;
    color: black;
  }

  .hearts-count {
    position: static;
    color: black;
    padding-left: 5px;
  }
}

.task-index-header  {
margin-top: 20px;
margin-bottom: 30px;
display: inline;
line-height: 50px;
h1 {
  display: inline-block;
}
}

.purple-new-task-button {
  display: inline;
  float:right;
  font-size: .75em;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #C21FEC;
  border-radius: 4px;
  color: white;

  h4 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  }
  a {
    text-decoration: none;
  }
}

.new-task-h4 {
  font-family: "Lato" sans-serif;
  font-size: 1.5em;
  color: #293f54;
}

.inline-block {
  display: inline-block;
}

input#task_assignee_id {
  position: relative;
  top: -3px;
  margin-right: 5px;
}


// CSS for Welcome modal
#first-time-user {
  h1 {
    color: $mint-green;
  }
}