// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.submit-update {
  border-radius: 5px;
  padding: 10px 20px;
  float: right;
  background-color: orange;
  color: white;
  border: 0;
  display: inline-block;
}

#update_comment {
  display: inline-block;
  position: relative;
  top: -10px;
}

#update_picture {
  display: none;
}

.choose-photo {
  float: right;
  color: #656D78;
  padding: 10px;
  padding-top: 3px;
  &:hover {
    cursor: pointer;
    color: #434A54;
  }
}

#photo-preview {
  float: right;
  img.obj {
    max-width: 100px;
    max-height: 100px;
  }
}



.input-size {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.like-it-now {
  display: inline-block;
  float: right;
  padding: 20px;
}

.update {
  font-family: "Lato", sans-serif;
  background: white;
  // margin-bottom: 20px;
  // border-radius: 10px;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid rgb(214,210,210);
  li {
    list-style: none;
    display: inline-block;
  }

.hearts-count2 {
position: relative;
float: right;
top: 6px;
color: white;
z-index: 10;
right: 21px;
}


  span.glyphicon.glyphicon-heart {
     color: gray;
     float: right;
     font-size: 2.5em;
     &:hover {
       color: #c24952;
     }
  }
  span.glyphicon.glyphicon-heart.active-glyphicon-heart {
     color: #c24952;
     float: right;
     font-size: 2.5em;
     &:hover {
       color: gray;
     }
  }

  .commenter-info {
    font-family: "Lato", sans-serif;
    font-size: 1.75em;
  }

  #update_picture {
    display: inline;
  }

  .image_update {
    label {
      display: inline;
    }
    input {
      float: left;
      display: inline;
    }
  }

  .image-update {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  // .delete-update {
  //   display: inline-block;

  // }
  .comment-text {
    display: inline-block;
  }

  .comment-time {
    font-size: 0.8em;
  }
}

.time-diffy {
  display: inline-block;
  float: right;
}
//set up mobile overrides

@media all and (max-width: 480px) {
  .post-update {
    padding: 10px 0px;
  }

  .image-update {
    img {
      width: 100%;
    }
  }

  .hearts-count2 {
  position: relative;
  float: right;
  top: 3px !important;
  color: black !important;
  z-index: 10;
  right: 31px !important;
  }

  span.glyphicon.glyphicon-heart {
     color: gray;
     float: right;
     font-size: 1.5em !important;
     &:hover {
       color: #c24952;
     }
  }
  span.glyphicon.glyphicon-heart.active-glyphicon-heart {
     color: #c24952;
     float: right;
     font-size: 1.5em !important;
     &:hover {
       color: gray;
     }
  }


  .like-it-now {
    display: inline-block;
    margin-top: 7px;
  }
    .update {

    div.col-md-1.col-xs-2 {
      padding: 0px;
    }

    .comment-text {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 0.9em;
    margin-bottom: 10px;
    }

  }
}