// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  ul.nav.nav-tabs {
    background: white;
    border: 0;
    li {
      width: 33%;
      text-align: center;
      .active {
        color: white;
        background: black;
      }
      a {
        margin: 5px;
        padding: 5px;
        border-radius: 4px;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
