// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit {
  float: right;
  display: inline-block;
  font-size: 1.2em;
}

.team-card {
  padding: 20px;
  display: block;
}

.bold {
  font-weight: 700;
}