// body {
//   background: url('train-tracks.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.main-statement {
  font-size: 3em;
  line-height: 1.2em;
  color: white;
  text-align: center;
  h1 {
    font-weight: 400 !important;

  }
}

section {
  width: 100%;
  .registration-section {
    background: #53bc9c;
    padding: 4rem 0;
  }
}

.family {
  img {
  display: block;
  margin: 0 auto;
  }
}

.sign-up-login {
  color: white;
  padding-left: 15px;
}

.register-button {
  border-radius: 3px;
  border: none;
  background: #ff615b;
  padding: 20px 30px;
  color: white;
  font-family: Lato;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  width: 100%;

  a {
    color: white;
    font-family: Lato;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    display: inherit;
  }
}

.sign-up-teaser {
  font-family: Lato;
  font-weight: 400;
  color: white;
  margin-top: 39px;
}

.register-form {
  padding: 15px;
  input {
    margin-bottom: 10px;
  }
  .first-name {
    // width: 122px;
  }
  .last-name {
    display: inline-block;
    width: 160px;
    margin-left: 9px;
  }
  .password {
    display: inline-block;
    width: 122px;
  }
  .confirm-password {
    display: inline-block;
    width: 160px;
    margin-left: 9px;
  }
  .aside {
    // font-family: 'Jenna-Sue', sans-serif;
    // font-size: 1.8em;
    // font-style: italic;
    color: #293f54;
  }

  h1 {
    margin-top: 0px;
  }
}

.btn-sign-up {
  padding: 15px;
  font-family: 'Lato';
  font-size: 2em;
}

.close-window {
  text-align: center;
  text-decoration: underline;
}

.how-it-works {
  background: #f2f2f2;
  .main-statement {
    h1 {
      color: #293f54;
    }
  }
}

.background-image {
  background-image:url('caregiver.jpg');
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

@media all and (max-width: 767px) {
  .background-image {
          background-image: none;
          background-color: #eeeeee;
          height: 250px;
        }
  .welcome-button {
  display: block;
}

}
.intro-text {
  margin-top: 50px;
}

.main-statement {
  font-size: 2em;
  line-height: 1.2em;
  color: white;
  text-align: center;
  h1 {
    font-weight: 400 !important;

  }
}

.welcome-button {
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 25px;
  margin-bottom: 25px;
}

.welcome-icon {
  margin-top: 50px;
  font-size: 6em;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

h1, h3 {
    font-family: 'Lato', sans-serif;
    color: white;
}