// body {
//   background: url('train-tracks.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }



body {
  background-color: #faf2e6;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #333333;
}

// .number {
//   border-radius: 50%;
//   background-color: white;
//   width: 50px;
//   height: 50px;
//   line-height: 50px;
//   display: inline-block;
//   text-align: center;
//   vertical-align: center;
// }