// body {
//   background: url('train-tracks.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.main-statement {
  margin-top: 70px;
  font-size: 3em;
  line-height: 1.2em;
  color: white;
  h1 {
    font-weight: 400 !important;
  }
}

.background-image {
  background-image:url('caregiver.jpg');
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

@media all and (max-width: 767px) {
  .background-image {
          background-image: none;
          background-color: #eeeeee;
          height: 250px;
        }
  .welcome-button {
  display: block;
}

}
.intro-text {
  margin-top: 50px;
}

.welcome-button {
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 25px;
  margin-bottom: 25px;
}

.welcome-icon {
  margin-top: 50px;
  font-size: 6em;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

h1, h3 {
    font-family: 'Lato', sans-serif;
    color: #333333;
}